# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode

# coverage
coverage.out
coverage.html

# npm
node_modules

# go binary
rtldev-middleware-go-sdk
rtldev-middleware-dnscontrol